.femaleb {
  background-color: #E0BBE4;
  font-size: 24px;
  border-radius: 20%;
}
.maleb {
  background-color: #FFDFD3;
  font-size: 24px;
  border-radius: 20%;
}

.searchbar{
    margin: auto;
    display: block;
}

.margin-top{
    margin-top: 20px;
}

.isactive{
  border-color: black;
}